//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// COLORS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// MAIN DESIGN PALETTE
///////////////////////////////////////
$primary-color: #ced0d6;
$primary-color-dark: darken($primary-color, 10%);

$second-color: #252b3c;
$second-color-dark: darken($second-color, 10%);
$second-color-light: lighten($second-color, 40%);

$third-color: #293043;
$third-color-light: lighten($third-color, 20%);

$fourth-color: #151821;
$fourth-color-light: lighten($fourth-color, 20%);

$fifth-color: #0d0f15;

//////////////////////////////////////


$white: white;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// FONTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$primary-font--family: "Roboto", sans-serif;
$primary-font--weight: 400;

$title-font--family: "Bebas Neue", serif;
$title-font--weight: 800;


$extra-large: 60px;