#about-me-main{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    // background: linear-gradient(to bottom right, $fifth-color, $second-color );
    background: linear-gradient(
        to bottom,
        $fifth-color 0%,
        $second-color 20%,
        $second-color 80%,
        $fifth-color 100%
    );
    min-height: auto; 
}

// .about-me-main-text{
//     background-color: red;
//     height: 500px;
// }

#about-text{
    display: flex; 
    flex-direction: column;
    text-align: left;
    color: $white;
    overflow: hidden; 
    padding: 20px; 
    box-sizing: border-box; 
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto; 
    height: auto;
    h2{
        font-size: 2.2rem;
        padding: 0 0 0 20px;
        margin-bottom: -20px;
    }
    p{
        margin: 0px;
        padding: 20px 0 20px 20px
    }
    p{
        font-size: 1.4rem;
    }
    ul{
        font-size: 1.5rem;
        li{
            padding-left: 10px;
        }
    }
}

.about-text-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
    .icon-user{
        padding: 0 20px 0 20px;
        font-size: 3rem;
    }
}

.about-text-highlight{
    color: $primary-color;
    font-size: 3rem;
}

.language-logos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    .about-me-lang-rows{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .language-logo{
        font-size: 3rem;
        border: solid 3px black;
        padding: 5px;
        margin: 10px 5px;
    }
    // ive made a mixin for the tool tips to be used anywhere on the page
    .tooltip-container {
        @include tooltip;
        
        img {
            height: 60px;
            width: 60px;
            padding: 5px;
            margin: 10px 5px;
            transition: transform 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
.about-me-scroll-container{
    display: flex;
    justify-content: center;
    .about-me-scroll-button{
        margin-left: 40px;
        @include page-button;
    
    }
}

.about-me-scroll-button {
    max-width: 350px;
    position: relative;
    
    a {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    p {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    @include page-button;
}

///////////////////////////////////////////////////
/// MEDIA QUERIES
///////////////////////////////////////////////////

@media(min-width: 450px){
    .language-logos-container{
        .tooltip-container {
            img{
                height: 100px;
                width: 100px;
            }
        }
    }
}

@media(min-width: 768px){

    // this changes the text content into rows to fit nicely side by side
    #about-me-main{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        // ive added more padding on the left side to push the text over more to look more centered
        padding: 100px 30px 100px 0px;
    }

    .about-text-header{
        justify-content: left;
        .icon-user{
            padding: 0 20px 0 20px;
            font-size: 2rem;
        }
    }

    .about-text-highlight{
        font-size: 2.8rem;
    }

    // these flex settings make the two flex items in about me to take up equal space
    .about-me-main-text {
        flex: 1
    }

    // i have this so the content will be stuck to the left and not center alligned to match how the text changes 
    .about-me-scroll-container{
        justify-content: left;
    }

    .language-logos-container {
        flex: 1; 
    }

    .language-logos-container{
        margin: 0;
        .tooltip-container {
            img {
                height: 60px;
                width: 60px;
            }
        }

    }



}

@media(min-width: 1000px){

    #about-me-main{

        padding: 100px 30px 100px 100px;
    }

    .about-text-highlight{
        font-size: 3.5rem;
    }

    .language-logos-container{
        .tooltip-container {
            img {
                height: 80px;
                width: 80px;
            }
        }
    }
}

@media(min-width: 1460px){
    #about-me-main{
        // ive added more padding on the left side to push the text over more to look more centered
        padding: 250px 30px 250px 100px;
    }

    #about-text{
        h2{
            font-size: 3rem;
        }
    }

    .about-text-highlight{
        font-size: 4.5rem;
    }
    .language-logos-container{
        .tooltip-container {
            img {
                height: 110px;
                width: 110px;
            }
        }
    }

}

@media(min-width: 2000px){
    #about-text{
        h2{
            font-size: 3rem;
        }
        p{
            font-size: 1.8rem;
        }
        ul{
            font-size: 1.8rem;
            li{
                padding-left: 10px;
            }
        }
    }

    #about-me-main{
        // ive added more padding on the left side to push the text over more to look more centered
        padding: 350px 30px 350px 150px;
    }

    .language-logos-container{
        .tooltip-container {
            img {
                height: 130px;
                width: 130px;
            }
        }
    }
}