#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(
        to bottom,
        $fifth-color 0%,
        $second-color 20%,
        $second-color 80%,
        $fifth-color 100%
    );
    h2 {
        color: $white;
        font-size: 2.2rem;
        text-decoration: underline;
        text-decoration-color: $primary-color;
        text-underline-offset: 10px;
    }
    .contact-me-sub-heading {
        font-size: 1.3rem;
        color: $white;
        margin-bottom: 50px;
    }
    .icon-arrow-down {
        font-size: 2rem;
        color: $white;
        margin-bottom: 20px;
    }
}

.contact-form {
    width: 80%;
    max-width: 1000px;
}

// this makes the inputs the full width of its container
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid $third-color;
    border-radius: 5px;
}

.input-control {
    position: relative;
    margin-bottom: 20px;
}

// this adds some error text below the input box if form validation fails.
.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 100%;
}

.input-control.error input,
.input-control.error textarea {
    border-color: #ff3860;
}

.input-control.success input,
.input-control.success textarea {
    border-color: #09c372;
}

// this colours the input fields background colour and the text when typed into it 
.colored-input,
textarea.colored-input {
    background-color: $white;
    color: $fifth-color;
    &:focus {
        outline: none;
        border-color: $white;
    }
}

// this makes the placeholder text grey
// had to add font family because text area was being weird and had a different font.
input::placeholder,
textarea::placeholder {
    font-family: $primary-font--family;
    font-weight: $primary-font--weight;
    color: $fifth-color;
    opacity: 1;
}

.contact-me-submit {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    color: $white;
    background-color: $third-color;
    border: 3px $primary-color solid;
    cursor: pointer;
    // stlying for button on hover
    &:hover{
    background-color: $primary-color;
    color: $fifth-color;
    border-color: darken($primary-color, 20%);;
    p {
        color: $fifth-color;
    }
    }
    // styling for button on click
    &:active{
        background-color: darken($primary-color, 20%);
        border-color: $primary-color;
    }
}

.large-input {
    height: 150px;
}

// .bottom-scroll {
//     text-decoration: none;
//     color: $white;
//     font-size: 1.7rem;
//     margin-bottom: 20px;
//     margin-top: 100px;
//     p {
//         margin-bottom: 0;
//     }
// }
.contact-scroll-container{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    .contact-scroll-button{
        // Context-specific style for contact section SVG button
        .contact-svg-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            max-width: 300px;
            white-space: nowrap;
        }
    }
}



.success-message {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }
  
  .error-message {
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }

///////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES 
//////////////////////////////////////////////////////////////////////////////////////////////

@media(min-width: 1100px) {
    #contact-me h2 {
        font-size: 2.6rem;
    }
}

@media(min-width: 1460px){
    #contact-me {
        padding: 250px 0;
    }
}

@media(min-width: 2000px){
    #contact-me{
        padding: 300px 0;
    }
  }

